body {
    background-color: #f9f9f9;
    padding-top: 7em;
    height: auto;
}

i.icon:not(.deafaullted) {
    font-size: 2em;
    opacity: 0.75 !important;
}

.ui.main.container.segment, .ui.divided.items.segment {
    box-shadow: 1px 1px 25px 2px rgba(41, 41, 41, 0.12);
}

form#delete {
    display: inline;
}


.ui.items > .item > .content > .header:not(.ui) {
    font-size: 1.6em;
}

.image_cover {
    object-fit: cover;
    height: 100% !important;
    width: 100% !important;
}

.afterImage {
    margin-bottom: 1.5em;
}